<h1 id="top">ExamTool for GeNIe - Help</h1>
<p>This is a short guide on how to use the Patient Data Tool. It will cover the basic interaction and a short step by step example workflow.</p>
<p>If you want to skip to a certain section you can use the table of contents below.</p>
<ol>
<li><a href="#intro">Introduction</a></li>
<li><a href="#start">Startscreen</a></li>
<li><a href="#main">Main Screen</a></li>
<li><a href="#exam">Examination Screen</a></li>
<li><a href="#quality">Quality &amp; Virtual Evidence</a></li>
<li><a href="#follow">What follows...</a></li>
</ol>
<h2 id="intro"><strong>Introduction</strong></h2>
<p>Let's consider we have a patient called "James White" that has got a MRI scan in our hospital three days ago.
    He was born on July 3rd, 1960.</p>
<p>Assuming we freshly loaded the website we see the start screen where we can choose the region of the body the
    examinations were done. In our case we have a male patient who's neck region was examined.</p>
<p><a href="#top">to top</a></p>
<h2 id="start"><strong>Startscreen</strong></h2>
<p>&nbsp;<img src="" alt="This is the start screen of the tool." width="700px" /></p>
<p>If we now perform a left click on the desired region we get to the main screen of the tool.</p>
<p><a href="#top">to top</a></p>
<h2 id="main"><strong>Main Screen</strong></h2>
<p>&nbsp;<img src="" alt="This is the main screen of the program. See text for details." width="700px"/></p>
<p>TBD</p>
<p>The main thing you see on the screen are the colored buttons for the different types of examinations.
    The colors may help you keeping track what examination you are currently editing. Every group has a progress bar and
    you can see the total progress. This shows you how many findings you have added and how many are available in total.
    If you hover over the progress bar a tooltip shows you that information.</p>
<p>Let's now press on the button for 'MRI', because that was the examination our patient got.</p>
<p><a href="#top">to top</a></p>
<h2 id="exam">Examination screen</h2>
<p>What you will see is a list of all findings which can be made in the chosen group, i.e. with the examination chosen.&nbsp;</p>
<p>&nbsp;<img src="" alt="This is the examination screen with the list of all available findings." width="700px"/></p>
<p>First you have to choose whether the examination was done internal or in an external hospital. Also you have to set
    the date of the examination. The default value is the current date.</p>
<p>If this is done you can add findings in the list of examinations by clicking on the corresponding drop down menu or
    choose from one option of the radio buttons. If you choose an item from the list you are required to set a certainty
    of your statement. If you provide a percentage all other possibilities (the ones you didn't choose) are set to 0. If
    you want to adjust that or if you want to give a probability distribution of all possible outcomes you should press the
    button 'SE' (soft evidence, or virtual evidence). There you can enter a probability for every single possible outcome
    in a table.&nbsp;</p>
<p>&nbsp;<img src="" alt="The pop-up window to enter the probabilities." width="700px"/></p>
<p><a href="#top">to top</a></p>
<p>TBD</p>
<p>This was a introduction to the functionality of the tool.&nbsp;</p>
<p><a href="#top">to top</a></p>